.content{
    display: flex;
    justify-content: center;
    margin: 20px 0 60px 0 ;
}
.col-1{
    margin-right: 20px;
    background-color: $primary-color;
    max-width: 460px;
    height: 573px;
    .row-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;
       
        h1{
            font-size: 2.25rem;
            font-weight: bold;
            color: $accent-color-whi;
        }
        ul{
            display: flex;
            width: 170px;
            justify-content: space-between;
            position: relative;
            border-top: 1px solid $accent-color-whi;
            padding-right: 20px;
        }
        img{
            position: absolute;
            top: -10px;
        }
    }
    .row-2{
        margin-bottom: 14px;
        .mail{
            max-width: 380px;
            margin: 0px 40px ;
            .name{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                input{
                    max-width: 186px;
                }
            }
        }
        .forWard{
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
            border: none;
            padding: 19px 0 13px 0;
            color: $primary-color;
            background-color: $secondary-color;
            cursor: pointer;
        }
        .address{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-form{
                width: 186px;
                border: none;
                margin-bottom: 8px;
                padding: 17px 20px;
                appearance:none;
                background: url("../../images/arrow.svg") no-repeat right center transparent;
                background-color: $secondary-light-color;
            }
            &-text{
                width: 100%;
            }
        }
        a{
            display: block;
            font-size: 1.25rem;
            font-weight: bold;
            text-decoration: none;
            padding: 14px 55px;
            background-color: $primary-color;
            color: $secondary-light-color;
            &:hover{
                background-color: $secondary-light-color;
                color: $primary-color;
            }
        }
        p{
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 8px;
            color: $accent-color-whi;
        }
        form{
            margin-bottom: 30px;
        }
        .forMail{
            width: 100%;
            border: none;
            padding: 17px 20px;
            background-color: $secondary-light-color;
            
        }
    }
}
.col-2{
    display: flex;
    flex-direction: column;
    width: 300px;
    h3{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 16px 0;
        color: $secondary-dark-color;
        background-color: $secondary-light-color;
    }
    .row-1{
        border: 1px solid $secondary-light-color;
        margin-bottom: 20px;
        li{
            display: flex;
            justify-content: space-between;
            padding: 16px 20px;
            color: $secondary-dark-color;
        }
        li:nth-child(3){
            font-size: 1.25rem;
            font-weight: bold;

        }
    }
    .row-2{
        border: 1px solid $secondary-light-color;
    }
    .shoppingList{
        display: flex;
        justify-content: space-between;
        padding: 4px 20px;
        &-img{
            li{
                width: 120px;
                height: 80px;
                overflow: hidden;
                margin: 16px 0;
                img{
                    margin: -95px 0;
                }
                &:nth-child(3) img{
                    margin: 0;
                }
            }
        }
        &-text{
            color: $secondary-dark-color;
            li{
                padding: 16px 0 12px 0px;
                margin: 10px 0;
            }
            span{
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
    }
}

/* -----------------------響應式----------------------- */

@include mobile(){
    .content{
        margin: 0;
    }
    .col-1{
        margin-right: 0;
        width: 100%;
        height: 615px;
        .row-2{
            a{
            padding: 14px 33px;
            }
            .mail{
                margin: 0px 30px ;
                .name input{
                    width: 153px;
                }
            }
            .address-form{
                width: 153px;
            }
        }
    }
    .col-2{
        display: none;
    }
    
}